.btn {
  background: var(--white);
  padding: .8rem 2rem;
  border-radius: .6rem;
  border: 2px solid var(--secundary);
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: var(--shadow);
  transition: background .1s ease-in-out;
}

.btn:active {
  transform: scale(.98);
  transition: transform .1s ease-in-out;
}

.btn:disabled {
  pointer-events: none;
}